$duration: 0.05s;

@mixin vertical-children-margin($margin) {
  > * {
    margin-bottom: $margin;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin horizontal-children-margin($margin) {
  > * {
    margin-right: $margin;

    &:last-child {
      margin-right: 0;
    }
  }
}
