$duration: 0.05s;
$widthThreshold: 650px;

@mixin vertical-children-margin($margin) {
  > * {
    margin-bottom: $margin;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin horizontal-children-margin($margin) {
  > * {
    margin-right: $margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin title($color: dimgrey, $border-color: darkgrey) {
  color: $color;
  font-weight: bold;
  padding-bottom: 0.2em;
  border-bottom: 1px solid $border-color;
}
